@import "../../theme/global.less";

.index-page {
  touch-action: manipulation;
  overflow-x: hidden;
  background: @bg-color;
  padding: 0 20px;

  .user-login-info-card {
    margin-top: @inde-page-module-margin-top;
  }

  .user-function-content {
    margin-top: 12px;
    display: flex;
  }

  .before-interviews{
    display: flex;
    justify-content: space-between;
    margin-top: @inde-page-module-margin-top;

  }
}